@page
@model Upskillz.Web.Pages.Home.IndexModel
@{
}

<div class="col-12 col-lg-4 col-md-6 col-sm-6 quote-card-cover">
    <div class="card h-100">

        <a class="quote-content" href="https://quotes.pub/q/you-can-always-die-its-living-that-takes-real-courage-himura-379644" aria-label="You can always die. It's living that takes real courage.&quot; - Himura Kenshin">
            <img class="card-img-top ls-is-cached lazyloaded" alt="" data-src="https://cdn.quotes.pub/660x400/you-can-always-die-its-living-that-takes-re-379644.jpg" src="https://cdn.quotes.pub/660x400/you-can-always-die-its-living-that-takes-re-379644.jpg">
        </a>
        <div class="card-body">
            <a class="quote-content mb-2 d-block w-100" href="https://quotes.pub/q/you-can-always-die-its-living-that-takes-real-courage-himura-379644">
                You can always die. It's living that takes real courage." - Himura Kenshin
            </a>
            <a class="quote-author text-right" href="https://quotes.pub/nobuhiro-watsuki-quotes">
                <p class="quote-author">
                    -Nobuhiro Watsuki
                </p>
            </a>
        </div>
        <div class="card-footer bg-white ">
            <ul class="social-icons">

                <li><a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https://quotes.pub/q/you-can-always-die-its-living-that-takes-real-courage-himura-379644" class="fa fa-facebook-square" target="_blank" aria-label="facebook"></a></li>
                <li><a target="_blank" rel="nofollow" href="https://twitter.com/home?status=You can always die. It's living that takes real courage.&quot; - Himura Kenshin - Nobuhiro Watsuki https://quotes.pub/q/you-can-always-die-its-living-that-takes-real-courage-himura-379644" class="fa fa-twitter" aria-label="twitter"></a></li>
                <li><a target="_blank" rel="nofollow" href="https://pinterest.com/pin/create/button/?url=https://quotes.pub/q/you-can-always-die-its-living-that-takes-real-courage-himura-379644&amp;media=https://cdn.quotes.pub/708x1062/you-can-always-die-its-living-that-takes-re-379644.jpg&amp;description=Check out best Samurai quotes by various authors like Nobuhiro Watsuki, Matsuo Bashō and Eiji Yoshikawa along with images, wallpapers and posters of them." class="fa fa-pinterest" aria-label="pinterest"></a></li>

                <li class="d-inline-block d-sm-none"><a href="whatsapp://send?text=https://quotes.pub/q/you-can-always-die-its-living-that-takes-real-courage-himura-379644" data-action="share/whatsapp/share" class="fa fa-whatsapp" aria-label="whatsapp"></a></li>

            </ul>
            <a href="https://quotes.pub/q/you-can-always-die-its-living-that-takes-real-courage-himura-379644" rel="nofollow" class="fa fa-download text-right download-quote">
                <span>Download</span>
            </a>

        </div>
    </div>
</div>
