@model IEnumerable<Samurai>;

@{
    ViewData["Samurais"] = "AllSamurais";
}

<section class="container pt-5 pb-5">
    <div class="container pt-5">        
        <h4>
            Meet our legendary Samurais
        </h4>
        <div class=row>
            @foreach (var samurai in Model)
            {
                <div class="col-md-4">
                    <div class="hotel-card">
                        <div class="card-body">
                            <a asp-controller="Samurai" asp-action="SamuraiDetails" asp-route-samuraiId="@samurai.Id">
                                <img src="@samurai.ImageUrl" class="card-img-top" style="height:250px" alt="" />
                                <h2 class="card-text mt-2">
                                    @samurai.Name
                                </h2>
                                <p></p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>

